.react-autosuggest__suggestion-match {
  font-weight: bold;
}

.react-autosuggest__suggestions-container {
  border-radius: 2px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 1px;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 3px #cfd8dc;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  margin: 0;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #e7e7e7;
}
